<ng-container *ngIf="trigger">
  <mat-card class="trigger">
    <mat-card-header>
      <mat-toolbar class="bg-transparent">
        <span>Trigger</span>
        <div [style.visibility]="triggerIndicatorVisibility ? 'visible' : 'hidden'" class="message-indicator"></div>
        <span style="flex: 1 1 auto"></span>
        <button (click)="deleteMe()" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <app-trigger-form [type]="trigger.type" [data]="trigger" (updated)="update($event)"></app-trigger-form>
      <app-action
        *ngFor="let action of trigger.actions; let i = index"
        [path]="path + '/actions/' + i"
        [action]="action"
        (delete)="deleteAction(i)"
        (updated)="actionUpdated(i, $event)"></app-action>
    </mat-card-content>
    <mat-card-footer>
      <mat-toolbar class="bg-transparent">
        <span class="flex-auto"></span>

        <ng-container *ngIf="schemaService.actionTypes.length > 0">
          <button mat-icon-button color="primary" [matMenuTriggerFor]="addTriggerMenu">
            <mat-icon>add</mat-icon>
          </button>
          <mat-menu #addTriggerMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let actionType of schemaService.actionTypes"
              (click)="addAction(actionType.type)">
              <span>{{ actionType.name }}</span>
            </button>
          </mat-menu>
        </ng-container>
      </mat-toolbar>
    </mat-card-footer>
  </mat-card>
</ng-container>
