<ng-container *ngIf="trigger && schema">
  <div class="flex items-start m-2 w-fit" [style.opacity]="this.trigger.enabled ? '1.0' : '0.5'">
    <div
      class="flex flex-col bg-gray-800 border-2 {{
        isInError() ? 'border-red-500' : 'border-gray-200'
      }} border-solid w-fit h-full mr-2"
      [cdkContextMenuTriggerFor]="triggerContextMenu">
      <div class="flex items-center justify-center bg-purple-600">
        <div class="flex-grow ml-1 mr-3 text-gray-200" [matTooltip]="trigger.comment ? trigger.comment : ''">
          {{ schema.title }}
        </div>
        <div class="flex items-center justify-center" [cdkMenuTriggerFor]="triggerContextMenu">
          <mat-icon class="text-gray-200">menu</mat-icon>
        </div>
      </div>
      <ng-container *ngIf="trigger.subTriggers as subTriggers">
        <div
          [id]="listsService.registerTriggerList(path + '/subTriggers')"
          cdkDropList
          (cdkDropListDropped)="dropTrigger($event)"
          [cdkDropListConnectedTo]="listsService.triggerListIds"
          [cdkDropListData]="trigger.subTriggers">
          <div *ngIf="subTriggers.length === 0" class="w-full h-6"></div>
          <div cdkDrag *ngFor="let subTrigger of subTriggers; let i = index" class="mr-2">
            <app-trigger
              [trigger]="subTrigger"
              [path]="this.path + '/subTriggers/' + i"
              [showActions]="true"
              (delete)="deleteSubTrigger(i)"
              (updated)="subTriggerUpdated()"></app-trigger>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="showActions">
      <div class="flex flex-col items-center justify-center">
        <mat-icon [style.color]="indicatorColor" class="scale-150">arrow_right</mat-icon>
      </div>
      <div *ngIf="trigger.actions">
        <div
          [id]="listsService.registerActionList(path + '/actions')"
          cdkDropList
          (cdkDropListDropped)="dropAction($event)"
          [cdkDropListConnectedTo]="listsService.actionListIds"
          [cdkDropListData]="trigger.actions"
          class="flex flex-col">
          <div *ngIf="trigger.actions.length === 0" class="w-20 h-6"></div>
          <div cdkDrag *ngFor="let action of trigger.actions; let i = index">
            <app-action
              [path]="path + '/actions/' + i"
              [action]="action"
              (delete)="deleteAction(i)"
              (updated)="actionUpdated()"></app-action>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- NOTE(jwetzell): Settings Dialog -->
  <ng-template #settingsDialogRef>
    <form [formGroup]="formGroup" class="h-full">
      <div class="m-2">
        <app-params-form
          [paramsSchema]="schema?.properties?.params"
          [data]="trigger.params"
          (updated)="paramsUpdated($event)"></app-params-form>
        <div class="flex items-center justify-center">
          <div class="flex-auto">
            <mat-form-field subscriptSizing="dynamic" class="w-full">
              <mat-label>comment: </mat-label>
              <textarea matInput type="text" formControlName="comment"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <!-- NOTE(jwetzell): Context Menus -->
  <ng-template #triggerContextMenu>
    <div cdkMenu class="context-menu">
      <button cdkMenuItem (click)="openSettingsDialog()" class="context-menu-item">Settings</button>
      <button cdkMenuItem (click)="deleteMe()" class="context-menu-item hover:bg-red-400">Delete</button>
      <button cdkMenuItem (click)="copyMe()" class="context-menu-item">Copy</button>
      <button cdkMenuItem class="context-menu-item" (click)="toggleEnabled()">
        {{ trigger.enabled ? 'Disable' : 'Enable' }}
      </button>
      <button cdkMenuItem class="flex pr-0 context-menu-item" [cdkMenuTriggerFor]="addActionMenu">
        <div class="flex-grow">Add Action</div>
        <div class="flex items-center justify-end"><mat-icon>arrow_right</mat-icon></div>
      </button>
      <button cdkMenuItem class="flex pr-0 context-menu-item" [cdkMenuTriggerFor]="addTriggerMenu">
        <div class="flex-grow">Add Sub-Trigger</div>
        <div class="flex items-center justify-end"><mat-icon>arrow_right</mat-icon></div>
      </button>
      <button
        cdkMenuItem
        class="bg-green-700 border context-menu-item hover:bg-green-500"
        *ngIf="copyService.getClipboardForType('Action') | async as copyObject"
        (click)="pasteAction(copyObject)">
        Paste Action
      </button>
    </div>
  </ng-template>

  <ng-template #addActionMenu>
    <div cdkMenu class="context-menu" *ngIf="schemaService.actionTypes.length > 0">
      <button
        cdkMenuItem
        class="context-menu-item"
        *ngFor="let actionType of schemaService.actionTypes"
        (click)="addAction(actionType.type)">
        <span>{{ actionType.name }}</span>
      </button>
    </div>
  </ng-template>

  <ng-template #addTriggerMenu>
    <div cdkMenu class="context-menu" *ngIf="schemaService.triggerTypes.length > 0">
      <button
        cdkMenuItem
        class="context-menu-item"
        *ngFor="let triggerType of schemaService.triggerTypes"
        (click)="addSubTrigger(triggerType.type)">
        <span>{{ triggerType.name }}</span>
      </button>
    </div>
  </ng-template>
</ng-container>
