<ng-container *ngIf="parentSchema">
  <ng-container *ngIf="paramsOptions.length > 1">
    <mat-tab-group [selectedIndex]="paramsOptionsSelectedIndex" (selectedTabChange)="paramsOptionsTabSelected($event)">
      <mat-tab *ngFor="let paramsOption of paramsOptions" label="{{ paramsOption.display }}"></mat-tab>
    </mat-tab-group>
  </ng-container>
  <form [formGroup]="paramsFormGroup">
    <div class="flex flex-col">
      <div *ngFor="let key of paramKeys()" class="m-2">
        <!-- TODO(jwetzell): figure out how to display params that are arrays or objects-->

        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ key }}</mat-label>
          <input matInput [formControlName]="key" />
          <ng-container *ngIf="!paramsFormGroup.controls[key].valid">
            <mat-error>{{ paramsFormGroup.controls[key].errors | json }}</mat-error>
          </ng-container>
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-container>
