<ng-container *ngIf="transform && schema">
  <div
    class="flex items-center m-2 transform bg-gray-800 border-2 {{
      isInError() ? 'border-red-500' : 'border-gray-200'
    }} border-solid"
    [style.opacity]="this.transform.enabled ? '1.0' : '0.5'"
    [cdkContextMenuTriggerFor]="transformContextMenu">
    <div class="flex flex-grow bg-orange-600">
      <div class="flex items-center justify-center">
        <mat-icon appearance="fill" class="scale-50" [style.color]="indicatorColor"> circle </mat-icon>
      </div>
      <div class="flex-grow mr-3 text-gray-200" [matTooltip]="transform.comment ? transform.comment : ''">
        {{ schema.title }}
      </div>
      <div class="flex items-center justify-center" [cdkMenuTriggerFor]="transformContextMenu">
        <mat-icon class="text-gray-200">menu</mat-icon>
      </div>
    </div>
  </div>

  <!-- NOTE(jwetzell): Settings Dialog -->
  <ng-template #settingsDialogRef>
    <form [formGroup]="formGroup" class="h-full">
      <div class="m-2">
        <app-params-form
          [paramsSchema]="schema?.properties?.params"
          [data]="transform.params"
          [patchable]="true"
          (updated)="paramsUpdated($event)"></app-params-form>
        <div class="flex items-center justify-center">
          <div class="flex-auto">
            <mat-form-field subscriptSizing="dynamic" class="w-full">
              <mat-label>comment: </mat-label>
              <textarea matInput type="text" formControlName="comment"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <!-- NOTE(jwetzell): Context Menus -->
  <ng-template #transformContextMenu>
    <div cdkMenu class="context-menu">
      <button cdkMenuItem class="context-menu-item" (click)="openSettingsDialog()">Settings</button>
      <button cdkMenuItem class="context-menu-item hover:bg-red-400" (click)="deleteMe()">Delete</button>
      <button cdkMenuItem class="context-menu-item" (click)="copyMe()">Copy</button>
      <button cdkMenuItem class="context-menu-item" (click)="toggleEnabled()">
        {{ transform.enabled ? 'Disable' : 'Enable' }}
      </button>
    </div>
  </ng-template>
</ng-container>
