<ng-container *ngIf="transform">
  <div
    class="flex items-center p-2 m-2 transform border-2 border-gray-400 bg-gray-800 border-solid w-fit"
    [style.opacity]="this.transform.enabled ? '1.0' : '0.5'">
    <!-- TODO(jwetzell): add support for this -->
    <!-- <div>
      <mat-icon appearance="fill" class="scale-50" [style.color]="indicatorColor"> circle </mat-icon>
    </div> -->
    <div class="text-gray-400">{{ transform.type }}</div>
    <div class="flex-auto ml-2">
      <app-object-form
        [objectType]="'Transform'"
        [type]="transform.type"
        [data]="transform"
        (updated)="update($event)"></app-object-form>
    </div>
    <mat-icon (click)="deleteMe()" class="text-red-500 hover:cursor-pointer">delete</mat-icon>
  </div>
</ng-container>
