<ng-container *ngIf="protocolType">
  <div class="flex flex-col h-full" [cdkContextMenuTriggerFor]="protocolContextMennu">
    <div class="flex">
      <ng-container *ngIf="hasSettings && schema">
        <div class="flex-grow"></div>
        <div
          matTooltip="{{ schema?.title }} Settings"
          class="flex items-center justify-center w-10 h-10 mx-5 my-2 rounded-full bg-gray-200 hover:cursor-pointer hover:bg-gray-300"
          (click)="openSettingsDialog()">
          <mat-icon>settings</mat-icon>
        </div>
        <ng-template #settingsDialogRef>
          <div class="p-2">
            <div class="flex justify-around w-full mb-2 text-gray-200">
              {{ schema?.title }}
            </div>
            <app-params-form
              [paramsSchema]="schema?.properties?.params"
              [data]="protocol?.params"
              (updated)="protocolParamsUpdated($event)"></app-params-form>
          </div>
        </ng-template>
      </ng-container>
    </div>
    <div
      class="flex-auto mb-8"
      cdkDropList
      [id]="listsService.registerTriggerList(protocolType + '/triggers')"
      (cdkDropListDropped)="dropTrigger($event)"
      [cdkDropListConnectedTo]="listsService.triggerListIds"
      [cdkDropListData]="protocol?.triggers">
      <div cdkDrag *ngFor="let trigger of protocol?.triggers; let i = index">
        <app-trigger
          [path]="protocolType + '/triggers/' + i"
          [trigger]="trigger"
          (delete)="deleteTrigger(i)"
          (updated)="triggerUpdated()"></app-trigger>
      </div>
    </div>
    <div class="flex mx-6 my-2">
      <div class="flex-grow"></div>
      <ng-container *ngIf="triggerTypes.length > 0">
        <div
          matTooltip="Add Trigger"
          class="flex items-center justify-center w-10 h-10 rounded-full bg-gray-200 hover:cursor-pointer hover:bg-gray-300"
          [matMenuTriggerFor]="addTriggerMenu">
          <mat-icon>add</mat-icon>
        </div>
        <mat-menu #addTriggerMenu="matMenu">
          <button mat-menu-item *ngFor="let triggerType of triggerTypes" (click)="addTrigger(triggerType.type)">
            <span>{{ triggerType.name }}</span>
          </button>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="copyService.getClipboardForType('Trigger') | async as copyObject">
        <div
          (click)="pasteTrigger(copyObject)"
          matTooltip="Paste Trigger"
          class="flex items-center justify-center w-10 h-10 ml-2 rounded-full bg-green-500 item-center hover:cursor-pointer hover:bg-green-400">
          <mat-icon>content_paste</mat-icon>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Context menus -->
  <ng-template #protocolContextMennu>
    <div cdkMenu class="context-menu">
      <button cdkMenuItem class="context-menu-item" (click)="openSettingsDialog()">Settings</button>
      <button cdkMenuItem class="flex pr-0 context-menu-item" [cdkMenuTriggerFor]="addTriggerMenu">
        <div class="flex-grow">Add Trigger</div>
        <div class="flex items-center justify-end"><mat-icon>arrow_right</mat-icon></div>
      </button>
      <button
        cdkMenuItem
        class="context-menu-item"
        *ngIf="copyService.getClipboardForType('Trigger') | async as copyObject"
        (click)="pasteTrigger(copyObject)">
        Paste Trigger
      </button>
    </div>
  </ng-template>

  <ng-template #addTriggerMenu>
    <div cdkMenu class="context-menu" *ngIf="triggerTypes">
      <button
        cdkMenuItem
        class="context-menu-item"
        *ngFor="let triggerType of triggerTypes"
        (click)="addTrigger(triggerType.type)">
        <span>{{ triggerType.name }}</span>
      </button>
    </div>
  </ng-template>
</ng-container>
