<ng-container *ngIf="protocolType">
  <div class="flex flex-col h-full">
    <div>
      <ng-container *ngIf="hasSettings && schema">
        <div
          class="flex items-center justify-center bg-gray-700 hover:cursor-pointer hover:bg-gray-500"
          (click)="openSettingsDialog()">
          <mat-icon>settings</mat-icon>
        </div>
        <ng-template #settingsDialogRef>
          <div class="p-2">
            <div class="flex justify-around w-full mb-2 text-gray-200">
              {{ schema?.title }}
            </div>
            <app-params-form
              [paramsSchema]="schema?.properties?.params"
              [data]="protocol?.params"
              (updated)="protocolParamsUpdated($event)"></app-params-form>
          </div>
        </ng-template>
      </ng-container>
    </div>
    <div
      class="flex-auto mb-8"
      cdkDropList
      [id]="listsService.registerTriggerList(protocolType + '/triggers')"
      (cdkDropListDropped)="dropTrigger($event)"
      [cdkDropListConnectedTo]="listsService.triggerListIds"
      [cdkDropListData]="protocol?.triggers">
      <div cdkDrag *ngFor="let trigger of protocol?.triggers; let i = index">
        <app-trigger
          [path]="protocolType + '/triggers/' + i"
          [trigger]="trigger"
          (delete)="deleteTrigger(i)"
          (updated)="triggerUpdated()"></app-trigger>
      </div>
    </div>
    <div class="fixed bottom-0 w-full">
      <ng-container *ngIf="triggerTypes.length > 0">
        <div
          matTooltip="Add Trigger"
          class="flex items-center justify-center w-full bg-gray-700 hover:cursor-pointer hover:bg-gray-500"
          [matMenuTriggerFor]="addTriggerMenu">
          <mat-icon>add</mat-icon>
        </div>
        <mat-menu #addTriggerMenu="matMenu">
          <button mat-menu-item *ngFor="let triggerType of triggerTypes" (click)="addTrigger(triggerType.type)">
            <span>{{ triggerType.name }}</span>
          </button>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="copyService.getClipboardForType('Trigger') | async as copyObject">
        <div
          (click)="pasteTrigger(copyObject)"
          matTooltip="Paste Trigger"
          class="flex justify-center w-full bg-green-500 item-center hover:cursor-pointer hover:bg-green-400">
          <mat-icon>content_paste</mat-icon>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
