<ng-container *ngIf="actionFormGroup">
  <form [formGroup]="actionFormGroup">
    <div>
      <div>type: {{ getType() }}</div>
      <div>
        <label>enabled:</label>
        <mat-slide-toggle formControlName="enabled" color="primary"></mat-slide-toggle>
      </div>
      <div>
        <mat-form-field>
          <mat-label>comment: </mat-label>
          <input matInput type="text" formControlName="comment" />
        </mat-form-field>
      </div>
    </div>
    <hr />
    <app-params-form [parentSchema]="schema" [data]="data?.params" (updated)="paramsUpdated($event)"></app-params-form>
  </form>
</ng-container>
