<ng-container *ngIf="actionFormGroup">
  <form [formGroup]="actionFormGroup">
    <div class="flex justify-center items-center">
      <div class="flex-auto">
        <mat-form-field subscriptSizing="dynamic" class="w-full">
          <mat-label>comment: </mat-label>
          <input matInput type="text" formControlName="comment" />
        </mat-form-field>
      </div>
    </div>
    <hr />
    <app-params-form [parentSchema]="schema" [data]="data?.params" (updated)="paramsUpdated($event)"></app-params-form>
    <div class="flex justify-center items-center">
      <div class="flex-auto"></div>
      <div>
        <label>enabled:</label>
        <mat-checkbox formControlName="enabled" color="primary"></mat-checkbox>
      </div>
    </div>
  </form>
</ng-container>
