@tailwind base;
@tailwind components;
@tailwind utilities;

.message-indicator {
  background-color: greenyellow;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-left: 10px;
}

.cdk-drop-list-draggin .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
