/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.message-indicator {
  background-color: greenyellow;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-left: 10px;
}
