version: 2
updates:
  # labels
  - package-ecosystem: 'npm'
    directory: '/cli'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '@showbridge/lib'
      - dependency-name: '@showbridge/webui'
  - package-ecosystem: 'npm'
    directory: '/lib'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '@showbridge/types'
      - dependency-name: "@types*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: 'npm'
    directory: '/launcher'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '@showbridge/cli'
  - package-ecosystem: 'npm'
    directory: '/site'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'npm'
    directory: '/webui'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '@showbridge/types'
    groups:
      angular:
        applies-to: version-updates
        patterns:
          - '@angular*'
        update-types:
          - 'minor'
          - 'patch'
  - package-ecosystem: 'npm'
    directory: '/cloud'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'npm'
    directory: '/docs'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'npm'
    directory: '/types'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: "@types*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
