<ng-container *ngIf="paramFormControl && paramInfo?.schema">
  <ng-container *ngIf="arrayValue">
    <div cdkDropList (cdkDropListDropped)="dropItem($event)" [cdkDropListData]="arrayValue">
      <!-- <div *ngIf="arrayValue.length === 0" class="w-full h-6"></div> -->
      <div
        cdkDrag
        *ngFor="let item of arrayValue; let i = index; trackBy: trackByIndex"
        class="flex my-2 mr-2 items-center">
        <label for="item-{{ i }}" class="text-gray-300 mr-1 hover:cursor-move" cdkDragHandle>{{ i }}:</label>
        <ng-container *ngIf="paramInfo?.schema.items.type === 'object'; else nonObjectItem">
          <app-params-form
            [paramsSchema]="paramInfo?.schema.items"
            [data]="item"
            (updated)="updateItem(i, $event)"></app-params-form>
        </ng-container>
        <ng-template #nonObjectItem>
          <!-- TODO(jwetzell): add input validation using info from schema -->
          <input
            id="item-{{ i }}"
            class="pl-1"
            [(ngModel)]="arrayValue[i]"
            [placeholder]="paramInfo?.placeholder"
            [ngModelOptions]="{ standalone: true }"
            (input)="valueUpdated()" />
        </ng-template>
        <div
          class="flex items-center justify-center hover:cursor-pointer bg-red-400 rounded-sm ml-1"
          *ngIf="i >= minItems"
          matTooltip="Remove">
          <mat-icon (click)="deleteItem(i)">remove</mat-icon>
        </div>
        <!-- <app-trigger
            [trigger]="subTrigger"
            [path]="this.path + '/subTriggers/' + i"
            [showActions]="true"
            (delete)="deleteSubTrigger(i)"
            (updated)="subTriggerUpdated()"></app-trigger> -->
      </div>
    </div>
  </ng-container>
  <div
    class="w-full bg-gray-400 flex items-center justify-center rounded-sm hover:cursor-pointer hover:bg-gray-300"
    (click)="addItem()"
    matTooltip="Add Item"
    *ngIf="!arrayIsMaxed()">
    <mat-icon class="scale-100">add</mat-icon>
  </div>
</ng-container>
