<ng-container *ngIf="config$ | async as config">
  <ng-container *ngIf="schemaLoaded">
    <div class="h-screen max-h-screen flex flex-col">
      <mat-toolbar color="primary">
        <span>showbridge</span>
        <span class="flex-auto"></span>
        <button mat-icon-button matTooltip="Download Config" (click)="downloadConfig()">
          <mat-icon>download</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Import Config" (click)="importConfig()">
          <mat-icon>upload</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Apply Config" *ngIf="pendingConfigIsValid" (click)="applyConfig()">
          <mat-icon>save</mat-icon>
        </button>
      </mat-toolbar>
      <app-config class="flex-auto" [config]="config" (updated)="configUpdated($event)"></app-config>
    </div>
  </ng-container>
</ng-container>
