<div class="h-screen max-h-screen flex flex-col">
  <mat-toolbar color="primary" class="w-full">
    @if (eventService.status$ | async; as connectionStatus) {
      <div class="w-3 h-3 mr-2 overflow-hidden rounded-full">
        @switch (connectionStatus) {
          @case ('open') {
            <div matTooltip="Connected" class="w-full h-full bg-green-400"></div>
          }
          @case ('closed') {
            <div matTooltip="Disconnected" class="w-full h-full bg-orange-400"></div>
          }
          @case ('error') {
            <div matTooltip="Disconnected" class="w-full h-full bg-red-400"></div>
          }
        }
      </div>
    }
    <span>showbridge</span>
    @if (eventService.protocolStatus$ | async; as protocolStatus) {
      @if (protocolStatus.data.cloud?.connected) {
        <div
          class="flex items-center justify-center ml-2"
          [matTooltip]="getCloudTooltipText(protocolStatus.data.cloud)">
          <mat-icon fontSet="material-icons-outlined">cloud</mat-icon>
        </div>
      }
      @if (protocolStatus.data.mqtt?.connected) {
        <div
          class="flex items-center justify-center ml-2"
          matTooltip="MQTT Connected">
          <mat-icon fontSet="material-icons-outlined">rss_feed</mat-icon>
        </div>
      }
      <div
        class="flex items-center justify-center ml-2 cursor-pointer"
        (click)="openPatchEditor()"
        matTooltip="Edit Patches">
        <mat-icon fontSet="material-icons-outlined">cable</mat-icon>
      </div>
    }
    <span class="flex-auto"></span>
    <button mat-icon-button matTooltip="Clipboard" (click)="editClipboard()">
      <mat-icon>content_paste</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Download Config" (click)="downloadConfig()">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Import Config" (click)="importConfig()">
      <mat-icon>upload</mat-icon>
    </button>
    @if (configService.configStateHistory.length > 1) {
      <button mat-icon-button matTooltip="Revert" [matMenuTriggerFor]="historyMenu">
        <mat-icon>undo</mat-icon>
      </button>
      <mat-menu #historyMenu="matMenu">
        @for (configState of configService.configStateHistory; track configState) {
          <button
            mat-menu-item
            (click)="loadConfigState(configState)">
            <span
              >{{ configState.timestamp | timeago }} {{ configState.isLive ? '(live)' : '' }}
              {{ configState.isCurrent ? '(current)' : '' }}</span
              >
            </button>
          }
        </mat-menu>
      }
      @if (configService.pendingConfigIsValid) {
        <button
          mat-icon-button
          matTooltip="Apply Config"
          (click)="applyConfig()">
          <mat-icon>save</mat-icon>
        </button>
      } @else {
        <div class="flex items-center justify-center text-red-500 hover:cursor-pointer" matTooltip="Config Errors">
          <mat-icon>error</mat-icon>
        </div>
      }
    </mat-toolbar>
    <div class="flex-grow">
      @if (currentlyShownConfigState && currentlyShownConfigState.config && schemaService.schema) {
        <app-config [config]="currentlyShownConfigState.config" (updated)="configUpdated()"></app-config>
      } @else {
        <div class="flex items-center justify-center mt-28">
          <mat-spinner></mat-spinner>
        </div>
      }
    </div>
  </div>
