<div class="h-screen max-h-screen">
  <mat-toolbar color="primary" class="fixed top-0 z-50">
    <div *ngIf="eventService.status$ | async as connectionStatus" class="w-3 h-3 mr-2 overflow-hidden rounded-full">
      <ng-container [ngSwitch]="connectionStatus">
        <div *ngSwitchCase="'open'" matTooltip="Connected" class="w-full h-full bg-green-400"></div>
        <div *ngSwitchCase="'closed'" matTooltip="Disconnected" class="w-full h-full bg-orange-400"></div>
        <div *ngSwitchCase="'error'" matTooltip="Disconnected" class="w-full h-full bg-red-400"></div>
      </ng-container>
    </div>
    <span>showbridge</span>
    <ng-container *ngIf="eventService.protocolStatus$ | async as protocolStatus">
      <div
        *ngIf="protocolStatus.data.cloud?.connected"
        class="flex items-center justify-center ml-2"
        matTooltip="{{ protocolStatus.data.cloud?.id }}">
        <mat-icon fontSet="material-icons-outlined">cloud</mat-icon>
      </div>

      <div
        *ngIf="protocolStatus.data.mqtt?.connected"
        class="flex items-center justify-center ml-2"
        matTooltip="MQTT Connected">
        <mat-icon fontSet="material-icons-outlined">rss_feed</mat-icon>
      </div>
      <div
        class="flex items-center justify-center ml-2 cursor-pointer"
        (click)="openPatchEditor()"
        matTooltip="Edit Patches">
        <mat-icon fontSet="material-icons-outlined">cable</mat-icon>
      </div>
    </ng-container>
    <span class="flex-auto"></span>
    <button mat-icon-button matTooltip="Download Config" (click)="downloadConfig()">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Import Config" (click)="importConfig()">
      <mat-icon>upload</mat-icon>
    </button>
    <ng-container *ngIf="configService.configStateHistory.length > 1">
      <button mat-icon-button matTooltip="Revert" [matMenuTriggerFor]="historyMenu">
        <mat-icon>undo</mat-icon>
      </button>
      <mat-menu #historyMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let configState of configService.configStateHistory"
          (click)="loadConfigState(configState)">
          <span
            >{{ configState.timestamp | timeago }} {{ configState.isLive ? '(live)' : '' }}
            {{ configState.isCurrent ? '(current)' : '' }}</span
          >
        </button>
      </mat-menu>
      <button
        mat-icon-button
        matTooltip="Apply Config"
        *ngIf="configService.pendingConfigIsValid; else configError"
        (click)="applyConfig()">
        <mat-icon>save</mat-icon>
      </button>
      <ng-template #configError>
        <div class="flex items-center justify-center text-red-500 hover:cursor-pointer" matTooltip="Config Errors">
          <mat-icon>error</mat-icon>
        </div>
      </ng-template>
    </ng-container>
  </mat-toolbar>
  <div class="mt-16 -z-50">
    <ng-container
      *ngIf="currentlyShownConfigState && currentlyShownConfigState.config && schemaService.schema; else loadingConfig">
      <app-config
        class="flex-auto"
        [config]="currentlyShownConfigState.config"
        (updated)="configUpdated()"></app-config>
    </ng-container>
    <ng-template #loadingConfig>
      <div class="flex items-center justify-center mt-28">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
