<div class="flex flex-col h-full">
  <!-- TODO (jwetzell): Add info about what is currently in the clipboard "buffer" -->
  <!-- TODO (jwetzell): Add info about access to the actual clipboard" -->
  <h1 mat-dialog-title>Import to clipboard</h1>
  @if (formGroup) {
    <div class="flex-auto w-full h-full">
      <form [formGroup]="formGroup" class="w-full h-full p-2">
        <textarea
          formControlName="clipboard"
          placeholder="Paste snippet here"
        class="w-full h-full pt-1 pl-1"></textarea>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <span class="flex-auto"></span>
      <button mat-button (click)="importClipboard()" [disabled]="!formGroup.valid">Import</button>
    </div>
  }
</div>
