<ng-container *ngIf="formGroup">
  <form [formGroup]="formGroup" class="h-full">
    <div class="flex items-center justify-around h-full">
      <div class="flex items-center mx-2" matTooltip="{{ this.data?.enabled ? 'Disable' : 'Enable' }}">
        <label class="mr-1 text-gray-300">enabled:</label>
        <input type="checkbox" formControlName="enabled" />
      </div>
      <div class="flex items-center justify-center hover:cursor-pointer">
        <mat-icon class="text-gray-500 hover:text-gray-400" matTooltip="Settings" (click)="openSettingsDialog()"
          >settings</mat-icon
        >
      </div>

      <ng-template #settingsDialogRef>
        <div class="m-2">
          <app-params-form
            [parentSchema]="schema"
            [data]="data?.params"
            (updated)="paramsUpdated($event)"></app-params-form>
          <div class="flex items-center justify-center">
            <div class="flex-auto">
              <mat-form-field subscriptSizing="dynamic" class="w-full">
                <mat-label>comment: </mat-label>
                <textarea matInput type="text" formControlName="comment"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </form>
</ng-container>
