@if (messageType) {
  <div class="flex flex-col h-full" [cdkContextMenuTriggerFor]="protocolContextMennu">
    <div class="flex">
      @if (hasSettings && protocolSchema) {
        <div class="flex-grow"></div>
        <div
          matTooltip="{{ protocolSchema?.title }} Settings"
          class="flex items-center justify-center w-10 h-10 mx-5 my-2 rounded-full bg-gray-200 hover:cursor-pointer hover:bg-gray-300"
          (click)="openSettingsDialog()">
          <mat-icon>settings</mat-icon>
        </div>
        <ng-template #settingsDialogRef>
          <div class="p-2">
            <div class="flex justify-around w-full mb-2 text-gray-200">
              {{ protocolSchema?.title }}
            </div>
            <app-params-form
              [paramsSchema]="protocolSchema?.properties?.params"
              [data]="messageTypeProtocolConfig?.params"
            (updated)="protocolParamsUpdated($event)"></app-params-form>
          </div>
        </ng-template>
      }
    </div>
    <div
      class="flex-auto mb-8"
      cdkDropList
      [id]="listsService.registerTriggerList(messageType + '/triggers')"
      (cdkDropListDropped)="dropTrigger($event)"
      [cdkDropListConnectedTo]="listsService.triggerListIds"
      [cdkDropListData]="messageTypeHandlerConfig?.triggers">
      @for (trigger of messageTypeHandlerConfig?.triggers; track trigger; let i = $index) {
        <div cdkDrag>
          <app-trigger
            [path]="messageType + '/triggers/' + i"
            [trigger]="trigger"
            (delete)="deleteTrigger(i)"
          (updated)="triggerUpdated()"></app-trigger>
        </div>
      }
    </div>
    <div class="flex mx-6 my-2">
      <div class="flex-grow"></div>
      @if (triggerTypes.length > 0) {
        <div
          matTooltip="Add Trigger"
          class="flex items-center justify-center w-10 h-10 rounded-full bg-gray-200 hover:cursor-pointer hover:bg-gray-300"
          [matMenuTriggerFor]="addTriggerMenu">
          <mat-icon>add</mat-icon>
        </div>
        <mat-menu #addTriggerMenu="matMenu">
          @for (triggerType of triggerTypes; track triggerType) {
            <button mat-menu-item (click)="addTrigger(triggerType.type)">
              <span>{{ triggerType.name }}</span>
            </button>
          }
        </mat-menu>
      }
      @if (copyService.getClipboardForType('Trigger') | async; as copyObject) {
        <div
          (click)="pasteTrigger(copyObject)"
          matTooltip="Paste Trigger"
          class="flex items-center justify-center w-10 h-10 ml-2 rounded-full bg-green-500 item-center hover:cursor-pointer hover:bg-green-400">
          <mat-icon>content_paste</mat-icon>
        </div>
      }
    </div>
  </div>
  <!-- Context menus -->
  <ng-template #protocolContextMennu>
    <div cdkMenu class="context-menu">
      <button cdkMenuItem class="context-menu-item" (click)="openSettingsDialog()">Settings</button>
      <button cdkMenuItem class="flex pr-0 context-menu-item" [cdkMenuTriggerFor]="addTriggerMenu">
        <div class="flex-grow">Add Trigger</div>
        <div class="flex items-center justify-end"><mat-icon>arrow_right</mat-icon></div>
      </button>
      @if (copyService.getClipboardForType('Trigger') | async; as copyObject) {
        <button
          cdkMenuItem
          class="context-menu-item"
          (click)="pasteTrigger(copyObject)">
          Paste Trigger
        </button>
      }
    </div>
  </ng-template>
  <ng-template #addTriggerMenu>
    @if (triggerTypes) {
      <div cdkMenu class="context-menu">
        @for (triggerType of triggerTypes; track triggerType) {
          <button
            cdkMenuItem
            class="context-menu-item"
            (click)="addTrigger(triggerType.type)">
            <span>{{ triggerType.name }}</span>
          </button>
        }
      </div>
    }
  </ng-template>
}
