<div class="flex flex-col w-full h-full items-center">
    <div class="my-2 text-gray-200">
        Template Library
    </div>
    <input id="search" class="w-3/4 border-2 border-gray-200 border-solid rounded-sm" (input)="updateSearch($event)"/>
    <div class="w-full">
        <div *ngFor="let template of searchResults" class="flex justify-around border-gray-500 border-solid border-2 mx-3 my-2 rounded-md p-4">
            <h3 class="text-gray-300">{{template.object.comment}}</h3>
            <div (click)="copyActionTemplate(template)" class="flex items-center justify-center hover:cursor-pointer">
                <mat-icon class="text-green-500" matTooltip="Copy">content_copy</mat-icon>
            </div>
            <!-- NOTE(jwetzell): template preview -->
            <!-- <ng-container [ngSwitch]="template.type">
                <app-trigger [trigger]="template.object" *ngSwitchCase="'Trigger'"></app-trigger>
                <app-action [action]="template.object" *ngSwitchCase="'Action'"></app-action>
                <app-transform [transform]="template.object" *ngSwitchCase="'Transform'"></app-transform>
            </ng-container> -->
        </div>
    </div>
</div>
