<ng-container *ngIf="action && schema">
  <div class="flex items-center mx-2 mb-2 w-fit" [style.opacity]="this.action.enabled ? '1.0' : '0.5'">
    <div
      class="flex flex-col bg-gray-800 border-2 {{ isInError() ? 'border-red-500' : 'border-gray-200' }} border-solid"
      [cdkContextMenuTriggerFor]="actionContextMenu">
      <div class="flex w-full bg-green-600">
        <div class="flex items-center justify-center">
          <mat-icon appearance="fill" class="scale-50" [style.color]="indicatorColor"> circle </mat-icon>
        </div>
        <div class="flex-grow mr-3 text-gray-200" [matTooltip]="action.comment ? action.comment : ''">
          {{ schema.title }}
        </div>
        <div class="flex items-center justify-center" [cdkMenuTriggerFor]="actionContextMenu">
          <mat-icon class="text-gray-200">menu</mat-icon>
        </div>
      </div>

      <div
        *ngIf="action.transforms"
        [id]="listsService.registerTransformList(path + '/transforms')"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="listsService.transformListIds"
        [cdkDropListData]="action.transforms">
        <div *ngIf="action.transforms.length === 0" class="w-full h-6"></div>
        <div cdkDrag *ngFor="let transform of action.transforms; let i = index">
          <app-transform
            [path]="path + '/transforms/' + i"
            [transform]="transform"
            (delete)="deleteTransform(i)"
            (updated)="transformUpdated()"></app-transform>
        </div>
      </div>
    </div>

    <ng-container *ngIf="getSubActions() as subActions">
      <ng-container *ngIf="subActions.length > 0">
        <div class="flex flex-col items-center justify-center">
          <mat-icon class="text-gray-400 scale-150">arrow_right</mat-icon>
        </div>
        <div *ngFor="let subAction of subActions; let i = index" class="mt-2">
          <app-action
            [action]="subAction"
            [path]="this.path + '/actions/' + i"
            (delete)="deleteSubAction(i)"
            (updated)="subActionUpdated()"></app-action>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- NOTE(jwetzell): settings dialog-->
  <ng-template #settingsDialogRef>
    <form [formGroup]="formGroup" class="h-full">
      <div class="m-2">
        <app-params-form
          [paramsSchema]="schema?.properties?.params"
          [data]="action.params"
          (updated)="paramsUpdated($event)"></app-params-form>
        <div class="flex items-center justify-center">
          <div class="flex-auto">
            <mat-form-field subscriptSizing="dynamic" class="w-full">
              <mat-label>comment: </mat-label>
              <textarea matInput type="text" formControlName="comment"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <!-- NOTE(jwetzell): Context Menus -->
  <ng-template #actionContextMenu>
    <div cdkMenu class="context-menu">
      <button cdkMenuItem class="context-menu-item" (click)="openSettingsDialog()">Settings</button>
      <button cdkMenuItem class="context-menu-item hover:bg-red-400" (click)="deleteMe()">Delete</button>
      <button cdkMenuItem class="context-menu-item" (click)="copyMe()">Copy</button>
      <button cdkMenuItem class="context-menu-item" (click)="toggleEnabled()">
        {{ action.enabled ? 'Disable' : 'Enable' }}
      </button>
      <button cdkMenuItem class="context-menu-item" (click)="previewAction()">Preview</button>
      <button cdkMenuItem class="flex pr-0 context-menu-item" [cdkMenuTriggerFor]="addTransformMenu">
        <div class="flex-grow">Add Transform</div>
        <div class="flex items-center justify-end"><mat-icon>arrow_right</mat-icon></div>
      </button>
      <button
        cdkMenuItem
        class="flex pr-0 context-menu-item"
        [cdkMenuTriggerFor]="addActionMenu"
        *ngIf="action.type === 'delay' || action.type === 'random'">
        <div class="flex-grow">Add Sub-Action</div>
        <div class="flex items-center justify-end"><mat-icon>arrow_right</mat-icon></div>
      </button>
      <button
        cdkMenuItem
        class="context-menu-item"
        *ngIf="copyService.getClipboardForType('Transform') | async as copyObject"
        (click)="pasteTransform(copyObject)">
        Paste Transform
      </button>
    </div>
  </ng-template>

  <ng-template #addTransformMenu>
    <div cdkMenu class="context-menu" *ngIf="schemaService.transformTypes.length > 0">
      <button
        cdkMenuItem
        class="context-menu-item"
        *ngFor="let transformType of schemaService.transformTypes"
        (click)="addTransform(transformType.type)">
        <span>{{ transformType.name }}</span>
      </button>
    </div>
  </ng-template>

  <ng-template #addActionMenu>
    <div cdkMenu class="context-menu" *ngIf="schemaService.actionTypes.length > 0">
      <button
        cdkMenuItem
        class="context-menu-item"
        *ngFor="let actionType of schemaService.actionTypes"
        (click)="addSubAction(actionType.type)">
        <span>{{ actionType.name }}</span>
      </button>
    </div>
  </ng-template>
</ng-container>
