<ng-container *ngIf="action && schema">
  <div class="flex items-center" [style.opacity]="this.action.enabled ? '1.0' : '0.5'">
    <div class="m-2">
      <div
        class="flex flex-col bg-gray-800 border-2 {{ isInError ? 'border-red-500' : 'border-gray-200' }} border-solid">
        <div class="flex w-full p-2 items-around">
          <div class="flex items-center justify-center">
            <mat-icon appearance="fill" class="scale-50" [style.color]="indicatorColor"> circle </mat-icon>
          </div>
          <div
            class="flex items-center justify-start flex-auto mr-3 text-gray-200"
            [matTooltip]="action.comment ? action.comment : ''">
            {{ schema.title }}
          </div>
          <div class="flex items-center justify-center hover:cursor-pointer">
            <mat-icon class="text-gray-500 hover:text-gray-400" matTooltip="Settings" (click)="openSettingsDialog()">
              settings
            </mat-icon>
          </div>
          <div class="flex items-center justify-center" matTooltip="Delete">
            <mat-icon (click)="deleteMe()" class="text-red-500 hover:cursor-pointer">delete</mat-icon>
          </div>
          <div (click)="copyMe()" class="flex items-center justify-center hover:cursor-pointer">
            <mat-icon class="text-green-500" matTooltip="Copy">content_copy</mat-icon>
          </div>
        </div>

        <div class="m-2">
          <form [formGroup]="formGroup" class="h-full">
            <div class="flex items-center justify-around h-full">
              <div class="flex items-center mx-2" [matTooltip]="action.enabled ? 'Disable' : 'Enable'">
                <label class="mr-1 text-gray-300">enabled:</label>
                <input type="checkbox" formControlName="enabled" />
              </div>

              <ng-template #settingsDialogRef>
                <div class="m-2">
                  <app-params-form
                    [parentSchema]="schema"
                    [data]="action.params"
                    (updated)="paramsUpdated($event)"></app-params-form>
                  <div class="flex items-center justify-center">
                    <div class="flex-auto">
                      <mat-form-field subscriptSizing="dynamic" class="w-full">
                        <mat-label>comment: </mat-label>
                        <textarea matInput type="text" formControlName="comment"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </form>
        </div>
        <div
          *ngIf="action.transforms"
          [id]="getListId()"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="eventService.actionIdList"
          [cdkDropListData]="action.transforms">
          <div *ngIf="action.transforms.length === 0" class="w-full h-6"></div>
          <div cdkDrag *ngFor="let transform of action.transforms; let i = index">
            <app-transform
              [path]="path + '/transforms/' + i"
              [transform]="transform"
              (delete)="deleteTransform(i)"
              (updated)="transformUpdated()"></app-transform>
          </div>
        </div>
        <div *ngIf="schemaService.actionTypes.length > 0">
          <div
            matTooltip="Add Transform"
            class="flex items-center justify-center w-full bg-gray-700 hover:cursor-pointer hover:bg-gray-500"
            [matMenuTriggerFor]="addTransformMenu">
            <mat-icon>add</mat-icon>
          </div>
          <mat-menu #addTransformMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let transformType of schemaService.transformTypes"
              (click)="addTransform(transformType.type)">
              <span>{{ transformType.name }}</span>
            </button>
          </mat-menu>
          <div
            *ngIf="copyService.getClipboardForType('Transform') | async as copyObject"
            (click)="pasteTransform(copyObject)"
            matTooltip="Paste Transform"
            class="flex items-center justify-center w-full bg-green-700 hover:cursor-pointer hover:bg-green-500">
            <mat-icon>content_paste</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="action.type === 'delay' || action.type === 'random'">
      <div class="w-full h-full" *ngIf="schemaService.actionTypes.length > 0">
        <div
          matTooltip="Add Subaction"
          class="flex items-center justify-center bg-gray-700 hover:cursor-pointer hover:bg-gray-500"
          [matMenuTriggerFor]="addActionMenu">
          <mat-icon>add</mat-icon>
        </div>
        <mat-menu #addActionMenu="matMenu">
          <button
            mat-menu-item
            *ngFor="let actionType of schemaService.actionTypes"
            (click)="addSubAction(actionType.type)">
            <span>{{ actionType.name }}</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
    <ng-container *ngIf="getSubActions() as subActions">
      <ng-container *ngIf="subActions.length > 0">
        <div class="flex flex-col items-center justify-center">
          <mat-icon class="text-gray-400 scale-150">arrow_right</mat-icon>
        </div>
        <div *ngFor="let subAction of subActions; let i = index">
          <app-action
            [action]="subAction"
            [path]="this.path + '/actions/' + i"
            (delete)="deleteSubAction(i)"
            (updated)="subActionUpdated()"></app-action>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
