@if (config) {
  <div class="flex h-full flex-col">
    <div class="flex justify-around w-full">
      @for (messageType of messageAndProtocolTypes; track messageType) {
        @if (selectedMessageType.type === messageType.type) {
          <div
            (click)="selectMessageType(messageType)"
            class="flex items-center justify-center flex-auto h-12 border border-b-2 border-black border-solid cursor-pointer hover:bg-gray-700 bg-slate-800 border-b-blue-500">
            <div class="items-center justify-center flex-auto text-center">
              <span class="text-gray-100">
                {{ messageType.name }}
              </span>
            </div>
          </div>
        } @else {
          <div
            (click)="selectMessageType(messageType)"
            class="flex items-center justify-center flex-auto h-12 border border-black border-solid cursor-pointer hover:bg-gray-700 bg-slate-800">
            <div class="items-center justify-center flex-auto text-center">
              <span class="text-gray-100">
                {{ messageType.name }}
              </span>
            </div>
          </div>
        }
      }
    </div>
    @if (selectedMessageType) {
      <div class="flex-grow">
        <app-message-type
          [messageType]="selectedMessageType.type"
          [messageTypeHandlerConfig]="config.handlers[selectedMessageType.type]"
          [messageTypeProtocolConfig]="config.protocols[selectedMessageType.type]"
          (updated)="handlerUpdate(selectedMessageType.type)"
          (protocolUpdated)="protocolUpdate(selectedMessageType.type)"></app-message-type>
      </div>
    }
  </div>
}
