<ng-container *ngIf="hasSettings">
  <div class="flex items-center hover:cursor-pointer">
    <mat-icon class="text-gray-500 hover:text-gray-400" (click)="openSettingsDialog()">settings</mat-icon>
  </div>

  <ng-template #settingsDialogRef>
    <div class="p-2">
      <div class="flex text-gray-200 justify-around w-full mb-2">
        {{ schema.title }}
      </div>
      <app-params-form
        [parentSchema]="schema"
        [data]="data?.params"
        (updated)="paramsUpdated($event)"></app-params-form>
    </div>
  </ng-template>
</ng-container>
