name: Check @showbridge/docs builds
on:
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'docs/package-lock.json'

      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./docs

      - run: npm run build
        working-directory: ./docs
