name: Check @showbridge/webui builds
on:
  pull_request:
    branches:
      - main
    paths:
      - 'webui/**'
jobs:
  build-webui:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'webui/package-lock.json'

      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./webui

      - run: npm run build
        working-directory: ./webui
