name: Check @showbridge/webui builds
on:
  pull_request:
    branches:
      - main
    paths:
      - 'webui/**'
jobs:
  build-webui:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'webui/package-lock.json'

      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./webui

      - run: npm run build
        working-directory: ./webui
