name: Check @showbridge/docs builds
on:
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'docs/package-lock.json'

      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./docs

      - run: npm run build
        working-directory: ./docs
