name: Publish @showbridge/webui to npmjs
on:
  push:
    tags:
      - 'webui/**'
jobs:
  publish-webui:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
          cache-dependency-path: 'webui/package-lock.json'
      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./webui
      - name: Publish to NPM
        run: npm publish --provenance --access=public
        working-directory: ./webui
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
