name: Publish schema docs to docs site
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'schema/**'
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: build docs
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c #v6.0.0
        with:
          python-version: '3.10'
      - run: pip install json-schema-for-humans==0.47
      - run: mkdir -p html/docs/schema/config
      - run: generate-schema-doc --config expand_buttons=true schema/config.schema.json html/docs/schema/config/index.html
      - run: ls html/docs/schema/config
      - name: publish docs
        uses: SamKirkland/FTP-Deploy-Action@a51268f67f6605236975928ae28b0f7e9971d50a # v4.3.6
        with:
          server: ${{secrets.FTP_URL}}
          username: ${{secrets.DOCS_FTP_USERNAME}}
          password: ${{secrets.DOCS_FTP_PASSWORD}}
          local-dir: ./html/docs/schema/config/
          server-dir: schema/config/
          port: 21
          protocol: ftps
