name: Publish site
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'site/**'
jobs:
  publish-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'site/package-lock.json'

      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./site

      - name: Build Tailwind CSS
        run: npm run tailwind
        working-directory: ./site

      - name: publish site
        uses: SamKirkland/FTP-Deploy-Action@a51268f67f6605236975928ae28b0f7e9971d50a # v4.3.6
        with:
          server: ${{secrets.FTP_URL}}
          username: ${{secrets.WWW_FTP_USERNAME}}
          password: ${{secrets.WWW_FTP_PASSWORD}}
          local-dir: ./site/src/
          server-dir: /
          port: 21
          protocol: ftps
