name: Publish @showbridge/types to npmjs
on:
  push:
    tags:
      - 'types/**'
jobs:
  publish-types:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
          cache-dependency-path: 'types/package-lock.json'
      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./types
      - name: Publish to NPM
        run: npm publish --provenance --access=public
        working-directory: ./types
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
