name: Publish @showbridge/docs to docs site
on:
  workflow_dispatch:
  push:
    tags:
      - 'docs/**'
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'docs/package-lock.json'

      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./docs

      - name: build docs
        run: npm run build:prod
        working-directory: ./docs

      - name: publish docs
        uses: SamKirkland/FTP-Deploy-Action@a51268f67f6605236975928ae28b0f7e9971d50a # v4.3.6
        with:
          server: ${{secrets.FTP_URL}}
          username: ${{secrets.DOCS_FTP_USERNAME}}
          password: ${{secrets.DOCS_FTP_PASSWORD}}
          local-dir: ./docs/dist/
          server-dir: docs/
          port: 21
          protocol: ftps
